<h2>
  <%= @player_1 %> vs. <%= @player_2 %>
</h2>

<div id = "player_2_details">
  <%= @player_2_hit_point.to_s %>

</div>

<form action = "/attack" method = "POST">
  <button type="submit" name="attack">Attack</button>
</form>

<%= @attack_confirmation if @attack_confirmation != nil %>
