<h2>
  <%= @player_1.name %> vs. <%= @player_2.name %>
</h2>

<div id = "player_2_details">
  <%= @player_2.hp.to_s %>

</div>

<form action = "/attack" method = "POST">
  <button type="submit" name = "attack_button" value="attack">Attack</button>
</form>

<%= @attack_confirmation if @attack_confirmation != nil %>
